/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*general*/
.container{
    width: 1200px;
    margin: auto;
    background-color: rgb(200, 200, 200);
}

.header{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 40px;

}

.body{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 5px 0px;
}

.main{
    color: white;
}

.socials {
    display:flex;
    font-size:25px;
    justify-content:center;
    align-items:center;
}

#fb {
    padding:2px;
}

#insta {
    padding:2px;

}

#twitter {
    padding:2px;
}

footer{
    height: 40px;
    display: flex;
}

.socials {
    display:flex;
    margin: -5px;
    font-size:25px;
    justify-content:center;
    align-items:center;
}

#fb {
    padding:2px;
}

#insta {
    padding:2px;

}

#twitter {
    padding:2px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

img{
    width: 595px;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.column1 {
    flex: 50%;
}

.column2 {
    flex: 50%;
    margin-right: -10px;
}
  
.column img {

    vertical-align: middle;
}