/*font-family: 'Oswald', sans-serif;*/
/*general*/
.container{
    width: 1200px;
    margin: auto;
}

.header{
    font-family: 'Oswald', sans-serif;
}

footer{

}

a{
    text-decoration: none;
}


/*specific to page*/
.body{
    font-family: 'Oswald', sans-serif;
    font-size: 150px;
    color: rgba(255, 255, 255, .55);
    /* display: flex;
    text-align: center;
    align-items: center;
    position: relative; */
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#strip-img{
    width: 1200px;
    height: 600px;
    background-image: url("./theview_imgs/DSC09805.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -170px;
}

