/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/*general*/
.container{
    width: 1200px;
    margin: auto;
    background-color: rgb(200, 200, 200);
}

.header{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    height: 40px;
}

.body{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px 0px;
}

footer{
    height: 40px;
    display: flex;
}
.main{
    color: white;
}

.socials {
    display:flex;
    font-size:25px;
    justify-content:center;
    align-items:center;
}

#fb {
    padding:2px;
}

#insta {
    padding:2px;

}

#twitter {
    padding:2px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

#appetizers{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding: 5px 0px 0px;
}

#entrees2{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding: 5px 0px 0px;
}

#desserts2{
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    padding: 5px 0px 0px;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    padding: 8px 0px 0px;
}

.details{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.detail-indv{
    padding: 0px 10px 0px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0px 0px 2px;
}

img{
    width: 263px;
}

.column {
    flex: 50%;

}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.body{
    display: flex;
    align-items: center;
}